<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Ethereum LibP2P Address Converter">
  <meta name="author" content="github.com/tintinweb">
  <link rel="icon" href="../../../../favicon.ico">

  <title>LibP2P Address Converter</title>

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static',filename='styles/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='styles/narrow-jumbotron.css') }}" rel="stylesheet">
</head>

<body>

  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a class="nav-link active" href="//diligence.consensys.net/">ConsenSys Diligence <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">

          </li>
          <li class="nav-item">

          </li>
        </ul>
      </nav>
      <h3 class="text-muted">LibP2P Address Converter</h3>
    </div>
 
    <div class="jumbotron">
      <h3 class="display-1" style="opacity: 0.5;">LibP2P&nbsp;</h3>
      <p class="lead">
      <form style="">
        <div class="form-group"><label>ENR/Enode/MultiAddress</label><input type="text" name="inaddr" class="form-control"
            placeholder="enr:-LK4QMer7ejH4SWXlSIdM6gOBUD6WH86M95-6ZQ04KOrsAWaDaswyYp9hFmzRpnGVypSlHL_QB2VzNT8ATRckIfnmosBh2F0dG5ldHOIAAAAAAAAAACEZXRoMpD9yjmwAAABIf__________gmlkgnY0gmlwhMCoVkOJc2VjcDI1NmsxoQMRUBv28hoEdjrtt7QIwUtRTeYcKeub2QKgiEsvmiZT1YN0Y3CCMsiDdWRwgi7g" id="inaddr"></div>
        </p>
        <p><button class="btn btn-lg btn-success" href="#" role="button" onclick="">Convert</button></p>
      </form>
      {% if data %}
      <div style="text-align: left;">

        <table class="table">

          <tr><td nowrap><sup>multiaddr</sup></td><td><code><sup>{{  data["multiaddr"] }}</sup></code></td>
          <tr><td nowrap><sup>enode</sup></td><td><code><sup>{{  data["enode"] }}</sup></code></td>
          <tr><td nowrap><sup>ENR</sup></td><td>
            <p>
              <code><sup>{{  data["enr"] }}</sup></code>
            </p>
            <p>
                <table class="table table-light">
                  {% for key in data["enrdata"] %}
                  <tr><td nowrap><sup>{{ key }}</sup></td><td>|</td><td><code><sup>{{data["enrdata"].get(key)}}</sup></code></td></tr>
                  {% endfor %}
                </table>
            </p>
            <p>
              <table class="table table-light">
                {% for key, value in data["enritems"] %}
                <tr><td nowrap><sup>{{ key }}</sup></td><td>|</td><td><code><sup>{{value}}</sup></code></td></tr>
                {% endfor %}
              </table>
            </p>
        </table>
        
      </div>
    {% endif %}
    </div>

    

    

    <footer class="footer">
      <p>© <a href="//github.com/tintinweb">github.com/tintinweb</a> 2020&nbsp; (❤️heroku)</p>
    </footer>

  </div> <!-- /container -->


</body>

</html>